* {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 115%;
}

body {
  line-height: 115%;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

label {
  display: block;
}
